@media (max-width: 1440px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    height: 100%;
    width: 100%;
  }

  body {
    background: linear-gradient(rgb(175, 103, 233), rgb(101, 101, 231));
  }

  .image_pattern_mobile,
  .image_woman_mobile {
    display: none;
  }

  .container {
    background-color: white;
    width: 75vw;
    height: 65vh;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 50px 30px -5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }

  .image_pattern_desktop {
    position: absolute;
    width: 990px;
    height: 990px;
    margin: -310px 0px 0px -570px;
  }

  .image_woman_desktop {
    position: absolute;
    width: 500px;
    height: 380px;
    rotate: -1deg;
    margin: 65px 0px 0px -80px;
  }

  .image_box {
    position: absolute;
    margin: 360px 0px 0px 40px;
    rotate: -3deg;
    z-index: 1;
    width: 230px;
    height: 210px;
  }

  .texts {
    color: hsl(237, 12%, 33%);
    font-size: 18px;
    font-weight: 400;
    width: 370px;
    height: 490px;
    position: absolute;
    top: 50%;
    left: 72%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Kumbh Sans", sans-serif;
  }

  .title {
    font-size: 25px;
    font-weight: 700;
  }

  summary {
    cursor: pointer;
    list-style: none;
    margin-bottom: 14px;
    font-weight: 100;
  }

  summary:hover {
    color: hsl(14, 88%, 65%);
  }

  .seta1,
  .seta2,
  .seta3,
  .seta4,
  .seta5 {
    float: right;
    margin: 10px -10px 10px 0px;
    rotate: 0deg;
  }

  .arrow1,
  .arrow2,
  .arrow3,
  .arrow4,
  .arrow5 {
    float: right;
    margin: 10px -10px 10px 0px;
    rotate: 180deg;
  }

  details {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    margin: 0px 0px 0px 0px;
  }

  p {
    color: hsl(240, 6%, 50%);
    margin-bottom: 15px;
    font-size: 13px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 88vw;
  }

  .image_box {
    margin: 380px 0px 0px -40px;
    width: 200px;
    height: 180px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 600px;
    height: 650px;
    top: 58%;
    overflow: visible;
  }

  .image_pattern_desktop,
  .image_woman_desktop,
  .image_box {
    display: none;
  }

  .image_woman_mobile {
    display: flex;
    position: absolute;
    top: -160px;
    left: 20%;
    width: 60%;
  }

  .image_pattern_mobile {
    display: flex;
    position: absolute;
    top: 0px;
    left: 20%;
    width: 60%;
  }

  .texts {
    font-size: 18px;
    width: 500px;
    height: 500px;
    top: 0px;
    left: 0px;
    transform: translate(10%, 30%);
    justify-content: space-evenly;
  }

  .title {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
  }

  .seta1,
  .seta2,
  .seta3,
  .seta4,
  .seta5 {
    margin: 7px 0px 0px 0px;
  }

  .arrow1,
  .arrow2,
  .arrow3,
  .arrow4,
  .arrow5 {
    margin: 7px 0px 0px 0px;
  }

  summary {
    margin: 0px 0px 10px 0px;
  }

  p {
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .container {
    width: 380px;
    height: 650px;
    top: 58%;
    overflow: visible;
  }

  .image_woman_mobile {
    top: -120px;
    left: 15%;
    width: 70%;
  }

  .image_pattern_mobile {
    top: 0px;
    left: 15%;
    width: 70%;
  }

  .texts {
    font-size: 17px;
    width: 330px;
    height: 500px;
    top: 0px;
    left: 0px;
    transform: translate(7%, 26%);
  }

  p {
    font-size: 13px;
  }
}

@media (max-width: 375px) {
  .container {
    width: 340px;
    height: 650px;
    top: 54%;
  }

  .image_woman_mobile {
    display: flex;
    position: absolute;
    top: -110px;
    left: 50px;
    width: 70%;
  }

  .image_pattern_mobile {
    display: flex;
    position: absolute;
    top: 0px;
    left: 50px;
  }

  .texts {
    font-size: 15px;
    width: 300px;
    height: 480px;
    top: 0px;
    left: 0px;
    transform: translate(7%, 28%);
  }
}

@media (max-width: 320px) {
  .container {
    width: 300px;
    height: 650px;
    top: 60%;
    border-radius: 20px;
  }

  .image_woman_mobile {
    display: flex;
    position: absolute;
    top: -130px;
    left: 8%;
    width: 85%;
  }

  .image_pattern_mobile {
    display: flex;
    position: absolute;
    top: -10px;
    left: 8%;
    width: 85%;
  }

  .texts {
    font-size: 14px;
    width: 270px;
    height: 500px;
    top: 0px;
    left: 0px;
    transform: translate(5%, 25%);
  }

  p {
    font-size: 12px;
  }
}
